.channel-list {
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px;
}

.channel-name {
  display: block;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-left: 10px;
	margin-bottom: 5px;
	border: 1px solid transparent;
}

.channel-name {
	color: #ab9ba9;
}

.channel-name:hover {
	border: 1px solid #cfcfcf;
	background-color: #ededed;
  color: #353535;
  text-decoration: none;
}

.channel-name.active {
	background-color: #4c9689;
  color: #fff;
  text-decoration: none;
}

.avatar {
	border-radius: 4px;
}
